<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8 text-xl">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Setting</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
</head>
<body class="bg-gray-300">
    <header class="flex justify-evenly mx-10 mt-4 border-b-2 h-14 items-center w-full">
        <h1 class="text-black tracking-widest font-bold text-1xl">TIKITAKA</h1>
        <form method="get">
            <div class="flex">
                <input class="border rounded-l-lg py-2 px-2" type="text" placeholder="Search...">
                <button class="bg-black hover:bg-gray-400 hover:text-black text-white font-bold py-2 px-4 rounded-r-lg ml-1">
                    Search
                </button>
            </div>            
        </form>
    </header>
    <%- include('_sidebar') %>

    <div class="grid place-items-center bg-white m-10 rounded-3xl shadow-xl shadow-black w-1/2 mx-auto p-8">
        <img src="<%= profile.Profile.photo %>" alt="Profile Photo" class="rounded-full w-20 h-20 object-cover">
        <form action="/profile/setting/<%= profile.Profile.id %>/update " method="POST" class="text-center" enctype="multipart/form-data">
            <div class="my-12 mx-10 flex items-center">
                <label for="gambar" class="cursor-pointer bg-gray-200 hover:bg-gray-300 px-4 py-2 rounded-xl shadow-md">
                    Choose an image
                </label>
                <input id="gambar" type="file" name="gambar" accept="image/*" class="hidden">
            </div>            
            <div class="mb-4">
                <label for="firstName" class="block text-sm font-medium text-gray-700">First Name</label>
                <input type="text" id="firstName" name="firstName" class="mt-1 p-2 block w-full border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-yellow-500 focus:border-transparent" required value="<%= profile.Profile.firstName %>">
            </div>
            <div class="mb-4">
                <label for="lastName" class="block text-sm font-medium text-gray-700">Last Name</label>
                <input type="text" id="lastName" name="lastName" class="mt-1 p-2 block w-full border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-yellow-500 focus:border-transparent" required value="<%= profile.Profile.lastName %>">
            </div>
            <div class="mb-4">
                <label for="gender" class="block text-sm font-medium text-gray-700">Gender</label>
                <select id="gender" name="gender" class="mt-1 p-2 block w-full border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-yellow-500 focus:border-transparent" required>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </div>
            <div class="mb-4">
                <label for="address" class="block text-sm font-medium text-gray-700">Address</label>
                <textarea id="address" name="address" rows="3" class="mt-1 p-2 block w-full border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-yellow-500 focus:border-transparent" required><%= profile.Profile.address %></textarea>
            </div>
            <div class="mb-4">
                <label for="birthOfDate" class="block text-sm font-medium text-gray-700">Date of Birth</label>
                <input type="date" id="birthOfDate" name="birthOfDate" class="mt-1 p-2 block w-full border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-yellow-500 focus:border-transparent" required value="<%= profile.Profile.birthDayIso %>">
            </div>
            <div class="mt-4">
                <button type="submit" class="bg-yellow-500 text-white py-2 px-4 rounded-md hover:bg-yellow-600 focus:outline-none focus:bg-yellow-600">Save Changes</button>
            </div>
        </form>
    </div>
    
    <div class="grid grid-cols-1 gap 1 bg-white m-10 rounded-3xl shadow-lg shadow shadow-white w-2/6 text-center items-center">
            <a href="/profile/setting/<%= profile.Profile.id %>" class="text-black border-b-2 font-bold hover:bg-yellow-100 p-8 text-xl">Manage Your Account</a>
            <a href="/profile/privacy/<%= profile.Profile.id %>" class="text-black border-b-2 font-bold hover:bg-yellow-100 p-8 text-xl">Privacy</a>
            <a href="/logout/<%= profile.Profile.id %>" class="font-bold text-lg  border-b-2 tracking-widest hover:bg-yellow-100 p-8 text-xl"><button>Logout</button></a>
            
    </div>
</body>
</html>