<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TikiTaka</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
    <style>
        header {
            position: sticky;
            top: 0;
            z-index: 10; 
            background-color: white; 
        }
    </style>
</head>
<body class="bg-gray-300">
    <%- include('_navbar') %>
    <%- include('_sidebar') %>
    <div class="">
        <div class="grid grid-cols-3 gap-4">
            <% content.forEach(el => { %>
                <div class="mb-4">
                    <div style="width: 400px; max-height: 340px; position: relative; overflow: hidden;">
                        <video width="350px" height="20px" controls>
                            <source src="<%= el.imgUrl %>" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                    <div class="mt-2">
                        <!-- Konten tambahan sesuai kebutuhan -->
                        <i class="fa-regular fa-heart ml-2"></i>
                    </div>
                    <div>
                        <span class="text-black tracking-widest"><i>#<%= el.title %></i></span>
                    </div>
                    <div>
                        <span class="text-black"><%= el.content %></span>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
    
    
    
</body>
</html>
