<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TikiTaka</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
    <style>
        header {
            position: sticky;
            top: 0;
            z-index: 10;
            background-color: white;
        }
    </style>
</head>
<body>
    <%- include('_navbar') %>
    <%- include('_sidebar') %>
        <div class="flex mt-28 mx-10">
            <img src="<%= profile.dataValues.Profile.dataValues.photo %>" alt="Profile Photo" class="rounded-full w-20 h-20 object-cover">
            <div class="ml-4">
                <h1 class="text-xl font-bold">
                    <%= profile.dataValues.Profile.dataValues.firstName %> <%= profile.dataValues.Profile.dataValues.lastName %>
                </h1>
                <a href="/profile/setting/<%= profile.dataValues.Profile.dataValues.id %>"><button class="text-bold bg-black text-white p-2 rounded-md"><i class="fa-solid fa-up-right-from-square mr-3"></i>Edit Profile</button></a>
            </div>
            <div class="ml-4">
                <h1>Following <%= profile.dataValues.Profile.dataValues.Following %></h1>
            </div>
            <div class="ml-4">
                <h1>Followers <%= profile.dataValues.Profile.dataValues.Followers %></h1>
            </div>
            <div class="ml-4">
                <h1>Likes <%= profile.dataValues.Profile.dataValues.Likes %></h1>
            </div>
        </div>
    </div>
    
</body>
</html>
